<!DOCTYPE html>
<html>
<head>
	<title>Book Store</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/stylesheet.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	
	<div class="containerr">
		<header class="head">
			<h1>Book Store</h1>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/books">Books</a></li>
			</ul>
			<form class="searchBox" action="/findbooks/" method="GET">
				<input id="searchBox" class="form-control" type="text" placeholder="name of the book">
			</form> 
		</header>
		
	